@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate {
  transform: rotateY(180deg);
}

.card {
  transition: transform 1000ms;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}
